.sw-Footer {
    align-items: center;
    background-color: #052235;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    min-height: 144px;
    overflow: hidden;
    padding: 16px 0;
    transition: background-color 0.25s ease-out;
    width: 100%;

    &#{ & }-core {
        background-color: #052235;
    }

    &#{ & }-sokol {
        background-color: $sokol-cyan;
    }

    &#{ & }-dai {
        background-color: $xdai-gray;
    }

    &#{ & }-kovan {
        background-color: $kovan-cyan;
    }
}

.sw-Footer_Content {
    max-width: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.sw-Footer_Text {
    color: #ffffff;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 15px 0 0 0;
    text-align: center;

    @media (min-width: $breakpoint-md) {
        padding-top: 0;
    }
}